* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #8187b8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  left: -250px; /* Hidden initially */
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #15beed;
  transition: left 0.3s ease-in-out;
}

.sidebar.active {
  left: 0; /* Slide in when active */
}

.sidebar a {
  display: flex; /* Mengubah menjadi flex untuk menata icon dan text */
  align-items: center; /* Menyusun item di tengah secara vertikal */
  margin: 15px 0;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
  padding: 15px;
}

.sidebar a span {
  margin-left: 10px; /* Menambahkan jarak antara icon dan teks */
  font-size: 18px; /* Ukuran font untuk teks */
}

.sidebar a:hover {
  color: #333;
}

.sidebar a.active {
  color: #333;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-btn i {
  font-size: 28px;
  color: #fff;
}

.close-btn i:hover {
  color: #333;
}

.content-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  /* border-radius: 8px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Menjadikan konten setinggi layar */
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

table tr:nth-child(odd) td {
  background-color: white;
}

table tr:nth-child(even) td {
  background-color: #d9d9d9;
}

th {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background-color: #15beed;
  text-align: center;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15beed;
  color: white;
  padding: 15px;
}

.dashboard-header h2 {
  margin: 0;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
}

.search-container {
  display: flex;
}

.search-container form {
  display: flex;
}

.search-container input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .content-wrapper {
    height: calc(100vh - 150px);
  }
  .sidebar {
    width: 60px;
  }
  .sidebar a span {
    display: none;
  }
}

/* add stock */
.add-stock {
  cursor: pointer;
  margin-left: 10px;
}

.add-stock {
  background-color: #a6abd8;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.add-stock:hover {
  background-color: #8c99b4;
}
