@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  left: -250px; /* Hidden initially */
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #6488ea;
  transition: left 0.3s ease-in-out;
}

.sidebar.active {
  left: 0; /* Slide in when active */
}

.sidebar a {
  display: flex; /* Mengubah menjadi flex untuk menata icon dan text */
  align-items: center; /* Menyusun item di tengah secara vertikal */
  margin: 15px 0;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
  padding: 15px;
}

.sidebar a span {
  margin-left: 10px; /* Menambahkan jarak antara icon dan teks */
  font-size: 18px; /* Ukuran font untuk teks */
}

.sidebar a:hover {
  color: #333;
}

.sidebar a.active {
  color: #333;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-btn i {
  font-size: 28px;
  color: #fff;
}

.close-btn i:hover {
  color: #333;
}

.content-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  min-height: 100vh;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

table tr:nth-child(odd) td {
  background-color: white;
}

table tr:nth-child(even) td {
  background-color: #d9d9d9;
}

th {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background-color: #6488ea;
  text-align: center;
}

.dashboard-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #6488ea;
  color: white;
  padding: 15px;
}

.dashboard-header h2 {
  margin: 0;
  margin-left: 15px;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
}

.search-container {
  display: flex;
}

.search-container form {
  display: flex;
}

.search-container input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  th,
  td {
    padding: 20px 10px;
    font-size: 12px;
  }
  .dashboard-header h2 {
    font-size: 15px;
  }
  .content-wrapper {
    padding: 20px 0px;
    height: calc(100vh - 150px);
  }
  .sidebar {
    width: 60px;
  }
  .sidebar a span {
    display: none;
  }
}

/* add stock */
.addstock-container {
  margin-left: auto;
}

.add-stock {
  cursor: pointer;
  margin-left: 10px;
}

.add-stock {
  background-color: #a6abd8;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.add-stock:hover {
  background-color: #8c99b4;
}

.plus-icon {
  border-radius: 8px;
  padding: 2px 8px;
  margin-right: 5px;
  font-size: 18px;
  border: 1px solid #fff;
}

.dashboard-header a {
  text-decoration: none;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* pagination style */
.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.pagination a {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
}

.pagination a.active {
  background-color: #6488ea;
  color: white;
}

.pagination a:hover {
  background-color: #8a8db0;
  color: white;
}

/* edit icon */
.edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
  font-size: 1.5em;
  text-decoration: none;
  opacity: 0.8;
}

.edit-icon i {
  margin: 0;
}

/* popup form */
.popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.popup-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.popup-header span {
  font-size: 22px;
  font-weight: bold;
}

.popup-header i {
  font-size: 22px;
  margin-right: 10px;
}

.popup-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.popup-form input[type="text"],
.popup-form input[type="number"] {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.popup-form input[type="submit"] {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #6488ea;
  color: white;
  cursor: pointer;
}

.popup-form input[type="submit"]:hover {
  background-color: #45a049;
}

.close {
  cursor: pointer;
  font-size: 20px;
  float: right;
}

/* message edit */
.message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}

/* delete button */
.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.delete-button {
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
}

.delete-button:hover {
  background-color: darkred;
}
